* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 65px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*box1*/
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("./images/amazon_logo.png");
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
}

/*box2*/
.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1.1rem;
    margin-left: 3px;
}

/*Box3*/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 680px;
    height: 35px;
    border-radius: 3px;
}

.nav-search:hover {
    border: 2px solid orangered;
}

.search-select {
    background-color: #f3f3f3;
    width: 70px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: rgb(234, 174, 35);
    border-radius: 3px;
    color: black;
}

/******Box4**************/
.nav-signin-bottom {
    background-color: black;
    color: white;
    border-color: black;
}

span {
    font-size: 0.8rem;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/************** Box5*************/
.logout {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

/* Panel*/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops {
    width: 70%;
    font-size: 0.8rem;
}

.panel-ops p {
    display: inline;
    margin-left: 0.7rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 0.8rem;
}

.hero-section {
    background-image: url(./images/hero1.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: rgb(253, 251, 251);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 70%;
    margin-bottom: 25px;
    border-radius: 7px;
}

.hero-message a {
    text-decoration: none;
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height: 60rem;
}

.box {
    border: 1px solid black;
    height: 25rem;
    width: 23%;
    background-color: white;
    padding: 1.25em 0em 1em;
    margin-top: 1rem;
}

.box-img {
    height: 20rem;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    font-weight: 750;
}

footer {
    margin-top: 3.125rem;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 18rem;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover {
    text-decoration: underline;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.000002rem solid rgb(82, 81, 81);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 40px;
    width: 100px;
}

.foot-panel4 {
    height: 60px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.Foot p {
    display: inline;
    margin-left: 0.7rem;
}

.Foot p:hover {
    text-decoration: underline;
}

.foot-panel41 {
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.Foot1 p {
    display: inline;
    margin-left: 0.7rem;
}

.Foot1 p:hover {
    text-decoration: underline;
}

.footer-panel5 {
    background-color: #131a22;
    color: white;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 200px;
}

.footer-panel6 {
    background-color: #131a22;
    color: white;
    height: 4rem;
    font-size: 0.8rem;
    text-align: center;
}

.pages {
    display: flex;
    justify-content: space-evenly;
    padding-left: 34rem;
    padding-right: 34rem;
}

.pages a :hover {
    text-decoration: underline;
}

.copyright {
    padding-top: 6px;
}

/* SLIDER */
.slider {
    position: relative;
    overflow: hidden;
    height: 350px;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(6, 6, 6);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 40px;
    font-weight: 100;

}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}


/* SLIDER */